 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Interview Scheduling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css')}}">
	</head>

	<body>
		
    <h1>Filled Slots</h1>
<table class="rwd-table">
  <tr>
    <th>Interviewer Login</th>
    <th>Room Number</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
 
  {% for elem in result %}
         
      <tr>
            <td> {{elem['login_name']}} </td>
            <td> {{elem['room']}} </td>
            <td> {{elem['start_time']}} </td>
            <td> {{elem['end_time']}} </td>           
    </tr>
            
  {% endfor %}


</table>
<br>
<br>
<br>
<br>
<br>
<div class="wrapper">


    <form action= "/show_output" method="post">
    
    <br>
   
    <input class="button" type="submit" value="Send Invites"></input>
    </form>
 <!--<button class="button" type="button" >Send Invites</button> -->
 </div>
	</body>

</html> 